.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4%;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  color: #e50914;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-links li {
  color: #e5e5e5;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.navbar-links li:hover {
  color: #fff;
}

.votar-link {
  color: #ffbd03 !important; /* Un dorado para resaltar la función futura */
  font-weight: bold;
}


